<footer class="site-footer">

  <div class="wrapper">

    <a href="https://www.xiti.com/xiti.asp?s=603322" title="WebAnalytics" target="_top" style="right: 0;position: absolute;">
      <script type="text/javascript">
      Xt_param = 's=603322&p={{ page.url }}';
      try {Xt_r = top.document.referrer;}
      catch(e) {Xt_r = document.referrer; }
      Xt_h = new Date();
      Xt_i = '<img width="80" height="15" border="0" alt="" ';
      Xt_i += 'src="https://logv2.xiti.com/oco.xiti?'+Xt_param;
      Xt_i += '&hl='+Xt_h.getHours()+'x'+Xt_h.getMinutes()+'x'+Xt_h.getSeconds();
      if(parseFloat(navigator.appVersion)>=4)
      {Xt_s=screen;Xt_i+='&r='+Xt_s.width+'x'+Xt_s.height+'x'+Xt_s.pixelDepth+'x'+Xt_s.colorDepth;}
      document.write(Xt_i+'&ref='+Xt_r.replace(/[<>"]/g, '').replace(/&/g, '$')+'" title="Internet Audience">');
      </script>
      <noscript>
      Mesure d'audience ROI statistique webanalytics par <img width="80" height="15" src="https://logv2.xiti.com/oco.xiti?s=603322&p={{ page.url }}" alt="WebAnalytics" />
      </noscript>
    </a>
  </div>

  <script type="text/javascript">
    (function(window, document, dataLayerName, id) {
    window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
    function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString()}document.cookie=a+"="+b+d+"; path=/"}
    var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
    var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
    tags.async=!0,tags.src="https://sewatech.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
    !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
    })(window, document, 'dataLayer', 'aa5639a8-4278-48d9-9386-e525708b0371');
    </script>
</footer>
