<ul class="treeview">
    {% capture current_year  %}{{ page.date | date: "%Y" }}{% endcapture %}
    {% assign entries = site.posts %}
    {% assign years = site.data['years'] | reverse %}

    {% for year in years %}
    {% assign year_entries = entries | where: "year",year %}
    <li> <input type="checkbox" id="cb-{{year}}" {% if year == current_year %}checked{% endif %} />
        <label for="cb-{{year}}">{{ year }} ({{ year_entries | size }})</label>
        <ul class="year">
            {% for entry in year_entries %}
            <li class="{% if page.url contains entry.url %}active{% endif %}">
                <a href="{{ site.baseurl }}{{ entry.url }}" title="{{ entry.date | date: '%d/%m/%Y' }}">{{ entry.title }}</a>
            </li>    
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
<div class="rss-subscribe">Abonnement <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></div>
